@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-width: 0.1rem;
  }

  body {
    @apply bg-background text-primary;
    font-family: var(--font-antarctica);
    font-size: 18px;
    font-weight: 380;
    line-height: 1.15;
    letter-spacing: 0px;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
